<!-- start custom head snippets -->
<link rel="stylesheet" href="/assets/css/katex.min.css">
<link href="/assets/css/fontawesome.min.css" rel="stylesheet">
<link href="/assets/css/brands.min.css" rel="stylesheet">
<link href="/assets/css/solid.min.css" rel="stylesheet">
<link href="/assets/css/regular.min.css" rel="stylesheet">
<script src="/assets/js/brands.min.js"></script>
<script src="/assets/js/solid.min.js"></script>
<script src="/assets/js/fontawesome.min.js"></script>
<script src="/assets/js/regular.min.js"></script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" >
<!-- end custom head snippets -->
